:root {
    --color-gray: #f8f9fa;
}

.header {
    background: var(--color-gray);
}

.navbar {
    margin-left: 0.625rem;
    padding: 1rem 0;
}

.navbar-brand > img {
    height: 32px;
    width: 32px;
}

.custom-container {
    max-width: unset;
    padding-right: 2.25rem;
}

.card {
    margin-bottom: 2rem;
}
footer{
    padding: 2rem 0;
    margin-top: 2rem;
    text-align: center;
}
footer p {
    margin: 0;
}